::placeholder {
	color: rgba(255, 255, 255, .6);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, .6);
}

::-ms-input-placeholder { 
	color: rgba(255, 255, 255, .6);
}

.download-title {
	text-align: center;
	font-size: 150%;
	font-style: italic;
}

hr {
	width: 70%;
	color: black;
}

.error {
	display: block;
	background: rgba(220,201,201,1);
    border: 1px solid rgba(169,69,66,.4);
    padding: 15px 15px;
    text-align: center;
    margin: auto;
    color: rgba(169,69,66,1);
    font-size: 80%;
    font-weight: 200;
    margin-top: 25%;
}

.download-table {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	background: rgb(62, 70, 80);
	
}

.download-table tr {
	line-height: 250%;
}

.dwn-tr-fst {
	background: rgb(62, 70, 80);
}

.dwn-tr-sec {
	background: rgb(82, 90, 100);
}

.dwn-tr-fst:hover, .dwn-tr-sec:hover {
	background: rgb(42, 50, 60);
}


/* new download */
form {
	width: 70%;
	margin: auto;
	margin-top: 5%;
	background: rgb(42, 50, 60);
	text-align: center;
	padding: 5% 5%;
}

input[type="text"] {
	display: block;
	line-height: 150%;
	width: 90%;
	background: rgb(82, 90, 100);
	outline: none;
	border: none;
	border-radius: 10px;
	text-indent: 2%;
	margin: auto;
	color: white;
	font-weight: 400;
	padding: 1.5% 1.5%;
}

input[type="submit"] {
	display: block;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    background: rgb(4,162,179);
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 110%;
    outline: none;
    border: none;
}

label {
	display: block;
	line-height: 150%;
	text-align: center;
	margin: auto;
	width: 50%;
	background: rgb(82, 90, 100);
	color: white;
	border-radius: 10px;
	padding: 1.5% 1.5%;
}

label:hover, input[type="text"]:hover {
	cursor:pointer;
	background: rgb(92, 100, 110);
}

input[type="submit"]:hover {
	cursor: pointer;
}












