@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    background: rgb(42, 50, 60);
    color: rgba(255,255,255,.8);
}

span, a, h1, h2, h3, h4, h5, p, div {
    font-weight: 400;
}

a, a:visited, a:focus, a:hover {
    color: rgba(255,255,255,.8);
	text-decoration: none;
}

#top-menu-logo {
	font-size: 130%;
}

.menu {
	padding: 0px 0px;
	height: 100%;
}

.menu nav {
	width: 100%;
}

.main-menu-a {
	transition: .5s;
	display: block;
	padding: 5% 3%;
	font-size: 120%;
}

.main-menu-a:hover {
	transition: .5s;
	background: rgb(62, 70, 80);
	text-indent: 20px;
}

.main-menu-ico {
	width: 10%;
	vertical-align: text-top;
}

.main-div {
	background: rgb(22, 30, 40);
	height: 100%;
}

.main-top {
	text-align: center;
}

#quote-title {
	font-size: 110%;
	font-weight: 500;
}

#random-quote {
	font-style: italic;
	font-size: 90%;
	padding: 2.5% 0px;
}

.selected {
	background: rgb(62, 70, 80);
	text-indent: 20px;
}